<div class="py-3">
  <h1 class="display-4 text-center">Parcel Track n' Trace</h1>
</div>

<div class="row">
  <div class="form-group col-md-4" style="border: 1px solid black">
    <app-submit></app-submit>
  </div>
  <div class="form-group col-md-4" style="border: 1px solid black">
    <app-track></app-track>
  </div>
  <div class="form-group col-md-4" style="border: 1px solid black">
    <app-report></app-report>
  </div>
</div>
<div class="row" style="border: 1px solid black;">
  <h4>Response: </h4>
  <h4>{{service.response}}</h4>
</div>
